@page "/update/{Id:int}"
@using BlazorCRUD.Data
@using BlazorCRUD.Services
@inject GameCatalogService gameCatalogService;
@using System.ComponentModel.DataAnnotations

<h3>Update</h3>
<h4>@Id</h4>


@* <EditForm Model="@game" OnValidSubmit="HandleSubmit">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First name" HelperText="Max. 8 characters"
                    @bind-Value="game.Name" For="@(() => game.Name)" />
                    <MudTextField Label="Email" Class="mt-3"
                    @bind-Value="game.Genre" For="@(() => game.Genre)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm> *@

<EditForm Model="@game" OnValidSubmit="HandleSubmit">
    <MudGrid>
        <MudItem Class="d-flex align-center justify-center mud-width-full py-8">
            <MudCard Style="@($"color:{Colors.LightGreen.Accent3}; background:{Colors.Amber.Lighten2};")" Outlined="true">
                <MudCardContent>
                    <MudTextField Label="Name"
                    @bind-Value="game.Name" For="@(() => game.Name)" />
                    <MudTextField Label="Genre" Class="mt-3"
                    @bind-Value="game.Genre" For="@(() => game.Genre)" />

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    private GameModel game;

    protected override void OnInitialized()
    {
        game = gameCatalogService.GetGameById(Id);
    }

    public void HandleSubmit(EditContext editContext)
    {
        var newGame = (GameModel)editContext.Model;
        newGame.ReleaseDate = DateTime.Now;
        gameCatalogService.Update(newGame);
    }
}
